In [79]:
import pandas as pd
import numpy as np

In [118]:
raw_shelter_animal = pd.read_csv('./train.csv', )
raw_shelter_animal.head(10)

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan
5,A677334,Elsa,2014-04-25 13:04:00,Transfer,Partner,Dog,Intact Female,1 month,Cairn Terrier/Chihuahua Shorthair,Black/Tan
6,A699218,Jimmy,2015-03-28 13:11:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Tabby
7,A701489,NaN,2015-04-30 17:02:00,Transfer,Partner,Cat,Unknown,3 weeks,Domestic Shorthair Mix,Brown Tabby
8,A671784,Lucy,2014-02-04 17:17:00,Adoption,NaN,Dog,Spayed Female,5 months,American Pit Bull Terrier Mix,Red/White
9,A677747,NaN,2014-05-03 07:48:00,Adoption,Offsite,Dog,Spayed Female,1 year,Cairn Terrier,White

In [119]:
raw_shelter_animal.shape

(26729, 10)

In [120]:
raw_shelter_animal.loc[:,'AnimalType'].value_counts()

Dog    15595
Cat    11134
Name: AnimalType, dtype: int64

In [121]:
raw_shelter_animal['Color'].nunique()

366

In [122]:
from datetime import datetime

In [123]:
raw_shelter_animal['DateTime'] = raw_shelter_animal['DateTime'].apply(lambda date_time: datetime.strptime(date_time, '%Y-%m-%d %H:%M:%S'))

In [124]:
raw_shelter_animal['Name'] = np.invert(raw_shelter_animal['Name'].isnull())

In [125]:
raw_shelter_animal.head(10)

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,True,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,True,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,True,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,False,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,False,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan
5,A677334,True,2014-04-25 13:04:00,Transfer,Partner,Dog,Intact Female,1 month,Cairn Terrier/Chihuahua Shorthair,Black/Tan
6,A699218,True,2015-03-28 13:11:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Tabby
7,A701489,False,2015-04-30 17:02:00,Transfer,Partner,Cat,Unknown,3 weeks,Domestic Shorthair Mix,Brown Tabby
8,A671784,True,2014-02-04 17:17:00,Adoption,NaN,Dog,Spayed Female,5 months,American Pit Bull Terrier Mix,Red/White
9,A677747,False,2014-05-03 07:48:00,Adoption,Offsite,Dog,Spayed Female,1 year,Cairn Terrier,White

In [126]:
raw_shelter_animal['AgeuponOutcome'].unique()

array(['1 year', '2 years', '3 weeks', '1 month', '5 months', '4 years',
       '3 months', '2 weeks', '2 months', '10 months', '6 months',
       '5 years', '7 years', '3 years', '4 months', '12 years', '9 years',
       '6 years', '1 weeks', '11 years', '4 weeks', '7 months', '8 years',
       '11 months', '4 days', '9 months', '8 months', '15 years',
       '10 years', '1 week', '0 years', '14 years', '3 days', '6 days',
       '5 days', '5 weeks', '2 days', '16 years', '1 day', '13 years',
       nan, '17 years', '18 years', '19 years', '20 years'], dtype=object)

In [127]:
raw_shelter_animal.dropna(inplace=True)

In [128]:
def convert_to_days(item):
    day_table = {
        'years' : 365,
        'year'  : 365,
        'months': 30,
        'month' : 30,
        'weeks' : 7,
        'week'  : 7,
        'days'  : 1,
        'day'   : 1
    }
    return int(item[0]) * day_table[str(item[1])]
raw_shelter_animal['AgeuponOutcome'] = raw_shelter_animal['AgeuponOutcome'].str.split(' ').apply(convert_to_days)

In [129]:
raw_shelter_animal.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
1,A656520,True,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,365,Domestic Shorthair Mix,Cream Tabby
2,A686464,True,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,730,Pit Bull Mix,Blue/White
3,A683430,False,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,21,Domestic Shorthair Mix,Blue Cream
4,A667013,False,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,730,Lhasa Apso/Miniature Poodle,Tan
5,A677334,True,2014-04-25 13:04:00,Transfer,Partner,Dog,Intact Female,30,Cairn Terrier/Chihuahua Shorthair,Black/Tan

In [130]:
# raw_shelter_animal['SexuponOutcome'] = raw_shelter_animal.loc[:, 'SexuponOutcome']
raw_shelter_animal.loc[raw_shelter_animal['SexuponOutcome'] == 'Unknown', 'SexuponOutcome'] = 'Unknown Unknown'

In [131]:
raw_shelter_animal['SexuponOutcome'].unique()

array(['Spayed Female', 'Neutered Male', 'Intact Male', 'Intact Female',
       'Unknown Unknown'], dtype=object)

In [132]:
sex_series = raw_shelter_animal['SexuponOutcome'].str.split(' ').apply(lambda row: pd.Series(row))

In [133]:
sex_series.rename(columns={1:'Sex'}, inplace=True)

In [134]:
sex_series = pd.get_dummies(sex_series)

In [135]:
raw_shelter_animal = pd.get_dummies(raw_shelter_animal, columns=['AnimalType'])
raw_shelter_animal.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,SexuponOutcome,AgeuponOutcome,Breed,Color,AnimalType_Cat,AnimalType_Dog
1,A656520,True,2013-10-13 12:44:00,Euthanasia,Suffering,Spayed Female,365,Domestic Shorthair Mix,Cream Tabby,1,0
2,A686464,True,2015-01-31 12:28:00,Adoption,Foster,Neutered Male,730,Pit Bull Mix,Blue/White,0,1
3,A683430,False,2014-07-11 19:09:00,Transfer,Partner,Intact Male,21,Domestic Shorthair Mix,Blue Cream,1,0
4,A667013,False,2013-11-15 12:52:00,Transfer,Partner,Neutered Male,730,Lhasa Apso/Miniature Poodle,Tan,0,1
5,A677334,True,2014-04-25 13:04:00,Transfer,Partner,Intact Female,30,Cairn Terrier/Chihuahua Shorthair,Black/Tan,0,1

In [136]:
raw_shelter_animal.Breed.nunique()

751